h1 {
	color: orange;
}
table {
	Border: 1px solid black;
}
/*	
p {
	color:red;
	font-weight: 1000;
	}
*/
a {
	color: red;
}

.para_1_style {
	color: red;
	font-size: 16px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 50px;
	padding-bottom: 50px;
/*	border: dashed 10px purple;*/
}
.para_2_style {	color: orange;	font-size: 16px; /*	padding: 50px;*/ /*	border: dashed 10px purple;*/ 	margin: 20px;	border: 50px; }


a:hover }
   color: crimson;
   
   
   
}

a:active     {
    color:black; 
}

a:visted {
	color:green;
	 
	 
a:focus:
    color:orange
	
}
.play_btn }
 color: green 
 
}

.red {
	color: red;
}
.orange {
	color: orange;
}
.yellow {
	color: yellow;
}

.header {
	border: 1px solid black;
    border-radius: 15px;
}
.red_circle {
    width: 100px;
	height: 100px;
	background-color: red;
	border-radius: 25%;
	border: 5px solid black;
  }
.nav {
	border: 1px solid black;	
background-image: url('tile.jpg')

}



.article {
	float: left;
	min-width: 59%;
	min-height: 300px;
	border: 1px solid black;
}

.section {
	border: 1px solid black;

.aside {
	min-width: 39%;
	min-height: 300px;
	float: right;
	border: 1px solid black;
}


.footer {
	border: 1px solid black;
    
}

	
}	